body{
    background-color: red;
    position: relative;
    width: 95vw;
    height: 95vh;
}

#screen{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 1600px;
    top: 10%;
    background-color: white;
}

#selected-tile{
    background-color: white;
    position: absolute;
    left: 20%;
    bottom: 10%;
}